.photo {
  align-items: center;
  display: flex;
  height: $photo-height-end;
  justify-content: center;
}

.photo-slide {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: $photo-height-end;
  position: fixed;
  width: 100vw;
}

.photo-slideshow {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100vw;
  height: $photo-height-end;
  z-index: 0;

  .Wallop-buttonNext,
  .Wallop-buttonPrevious {
    display: none;
  }
}

// background-image is set in Container.vue
.photo-slideshow-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.photo-title-container {
    z-index: 1000;
    position: absolute;
    top: 2.5em;
    right: 3em;
    // opacity: 0;
    color: #fff;
    animation: titleAnimation 72s linear infinite 0s;
}
.photo-title-container h3 {
    font-size: 0.8em;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin: 0;
}
