$color-content: #F0EFEB;
$color-hero: rgba(29, 48, 90, 0.5);
// $color-hero: rgba(115, 114, 107, 0.5);
$photo-height-start: 60vh;
$photo-height-end: 80vh;

// media queries
@mixin mquery($size) {
  @if $size == xsmall {
    @media (min-width: 320px) {
      @content;
    }
  }

  @if $size == small {
    @media (min-width: 500px) {
      @content;
    }
  }

  @else if $size == medium {
    @media (min-width: 1000px) {
      @content;
    }
  }
}