@import 'reset';
@import 'variables';
@import '../../node_modules/wallop/css/wallop.css';
@import '../../node_modules/wallop/css/wallop--slide.css';
@import url('https://fonts.googleapis.com/css?family=Lato');
// NOTE: all style are mobile first

h1, h2, h3,
.tagline,
.nav {}

h1, h2 {
  margin-bottom: 2em;
}

h3 {
  margin-bottom: 1em;
}

body {
  font-family: Lato, serif;
}

.header {
  background: rgba(0,0,0,0.7);
  position: fixed;
  height: 4.5em;
  width: 100vw;
  top: 0;
  left: 0;
  transition: all 0.3s;
  z-index: 9;
  transform: translateY(-4.5em);

  .sticky-header & {
    transform: translateY(0);
  }
}

.logo {
  display: none;
  fill: rgba(255,255,255,0.8);
  height: 50px;
  width: auto;
  transition: all 0.3s;
  transform: translate(2.5em, 0.3em);

  @include mquery(small) {
    display: inline-block;
  }
}

.nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 1em;
  right: 2em;
  transition: all 0.2s;
  z-index: 99;

  a {
    display: block;
    text-decoration: none;
    padding: 0.5em;
    // transition: all 0.25s;

    &:link {
      border-bottom: 2px solid transparent;
      color: rgba(255,255,255,0.9);
    }
    &:visited {
      color: rgba(255,255,255,0.9);
    }
    &:hover {
      border-bottom: 2px solid rgba(255,255,255,0.4);
      color: rgba(255,255,255,0.8);
    }
  }
}

.hero {
  color: #fff;
  text-align: center;
  height: 80vh;
  // background-image set in Container.vue
  background-color: rgba(0,0,0,0.25);
  background-blend-mode: hard-light;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24vh 0 0;
  position: relative;
  width: 100vw;
}

.title {
  font-size: 2em;
  margin: 0 0 0.2em;
  opacity: 1;
  transition: all 0.3s;
  position: relative;
  z-index: 1;

  @include mquery(small) {
    font-size: 3em;
  }

  .sticky-header & {
    opacity: 0;
  }
}

.tagline {
  font-size: 1em;
  opacity: 1;
  transition: opacity 0.3s;
  position: relative;
  z-index: 1;
  @include mquery(small) {
    font-size: 1.5em;
  }

  .sticky-header & {
    opacity: 0;
  }
}

.photo-title {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  bottom: 1.5em;
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
  position: absolute;
  right: 2em;
  z-index: 1;
}

.section {
  padding: 5em 2em;

  @include mquery(small) {
    padding: 5em;
  }

  &--about {
    background: #fff;
  }

  &--casestudy {
    background: #ececec;
  }

  &--photo {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &--experience {
    background: #ececec;
  }

  &--contact {
    background: #fff;
    position: relative;
  }
}

.photo-window {
  height: 20em;
  position: relative;

  .photo-title {
    opacity: 0.8;
  }
}

footer {
  background: $color-footer;
  color: #fff;
  font-size: 0.8em;
  padding: 1em;
  position: relative;
  text-align: right;
}

.photo-footer {
  position: absolute;
  right: 5em;
  top: 2em;
}

.svg-mountains {
  fill: $color-footer;
  width: 80px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(4em, -40px);
}

// wallop slider in case study
.Wallop-buttonNext,
.Wallop-buttonPrevious {
  background: rgba(0,0,0,0.1);
  border-radius: 20px;
  border: none;
  cursor: pointer;
  height: 40px;
  position: absolute;
  text-indent: -9999px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.25s;
  width: 40px;
  z-index: 9;

  &:hover {
    background: rgba(0,0,0,0.3);
    &:before {
      color: rgba(0,0,0,0.6);
    }
  }
}

.Wallop-buttonNext:before,
.Wallop-buttonPrevious:before {
  color: rgba(0,0,0,0.4);
  font-size: 25px;
  left: 0;
  line-height: 0;
  position: absolute;
  text-align: center;
  text-indent: 0;
  top: 50%;
  transition: all 0.25s;
  width: 100%;
}

.Wallop-buttonNext:before {
  content: "\276F";
}

.Wallop-buttonPrevious:before {
  content: "\276E";
}

.Wallop-buttonPrevious {
  left: 1em;
}

.Wallop-buttonNext {
  right: 1em;
}
// this is the .Wallop container
.slideshow-projects,
.slideshow-mobile {
  box-shadow: 0 0 0 2px grey;
  margin: 2em auto 3em;
  max-width: 700px;

  .Wallop-list {
    background: #fff;
  }
}
