@import 'reset';
@import 'variables';
@import 'photos';

h1, h2, h3,
.tagline,
.nav {
  font-family: Merriweather, serif;
}

h1, h2 {
  margin-bottom: 2em;
}

h3 {
  margin-bottom: 1em;
}

body {
  background-color: #000;
}

.container {
  overflow: hidden;
}

.hero {
  background: rgba(29, 48, 90, 0.5);
  color: rgba(255,255,255,0.9);
  padding: 2em;
  transition: all 0.3s;
  z-index: 10;
}
// override Stickyheader css
.hero[style*="position: fixed"] {
  font-size: 55%;
  left: 0 !important;
}

.title {
  font-size: 3em;
  margin: 0 0 0.2em;
}

.tagline {
  font-size: 1.5em;
}

.content {
  background-color: $color-content;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 100;
}

.nav-container {
  flex: 1 0 230px;
}

.nav {
  display: inline-block;
  list-style: none;
  margin: 5em 0 0 3em;
  padding: 0;
  top: 60px;
  transition: all 0.2s;

  a {
    display: block;
    text-decoration: none;
    padding: 0.5em;
    transition: all 0.25s;

    &:link {
      border-bottom: 2px solid transparent;
      font-weight: bold;
      color: rgba(0,0,0,0.9);
    }
    &:visited {
      color: rgba(0,0,0,0.9);
    }
    &:hover {
      // background: #cecdc9;
      border-bottom: 2px solid #cecdc9;
    }
    &.router-link-active {
      // border-bottom: 2px solid #cecdc9;
    }
  }

  // override Stickyheader css
  &[style*="position: fixed"] {
    left: 0 !important;
  }
}

.svg-mountains {
  fill: $color-content;
  position: absolute;
  top: -48px;
  left: 5vw;
  height: 50px;
  width: auto;
  z-index: 99;
}

.section {
  margin: 5em 0 0;
  padding: 0 10vw 0 0;
}

footer {
  background-color: $color-content;
  font-size: 0.8em;
  padding: 1em;
  text-align: right;
}
